<div tab="Layout">
    <div wix-ctrl="SectionDividerLabeled"
         wix-options="{label: 'How does this gallery look?'}">
    </div>

    <div class="layout_columns"
         wix-ctrl="Slider"
         wix-options="{
            title: 'Columns',
            min: 1,
            max: 36,
            defaultValue: 7
         }">
    </div>

    <div class="layout_spacing"
         wix-ctrl="Slider"
         wix-options="{
            title: 'Spacing (px)',
            min: 0,
            max: 50,
            defaultValue: 10
         }">
    </div>
</div>
