/* colors */
/* sizes */
.main-tab {
  text-align: center; }
  .main-tab .app-logo {
    height: 60px;
    width: 60px;
    margin: 20px auto 0;
    position: relative; }
  .main-tab .app-description {
    text-align: center;
    padding: 0 24px;
    line-height: 21px;
    font-size: 14px;
    color: #2b5672; }
  .main-tab .main-cta-btn {
    width: 180px; }

/* colors */
/* sizes */
.support-tab .developer-info {
  font-size: 14px;
  padding: 17px 24px; }
  .support-tab .developer-info li {
    color: #3899ec;
    line-height: 28px;
    height: 28px; }
    .support-tab .developer-info li svg {
      position: relative;
      top: 4px;
      padding-right: 7px; }

.support-tab .review-paragraph {
  text-align: center;
  padding: 0 24px;
  line-height: 20px;
  font-size: 14px;
  color: #2b5672; }

.support-tab .rate-us-btn {
  width: 192px; }

body p {
  margin: 12px auto; }
